# *: gitignore file type, /: gitignore file 
# Python
__pycache__/
*.pyc

# Checkpoints
checkpoints_weights/
checkpoints/
runs/

# Data
data/
data.zip
other_data/

# Results
results/
inference_results/
latent_analysis/
sample_data/

# Environment
.Research_NVLabServer/

# Logs
ExperimentsRecord.xlsx

# STL files
*.stl